<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <%- include("../partials/preloader") %>

  <!-- Navbar -->
  <%- include("../partials/navbar") %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%- include("../partials/sidebar") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Under Construction</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Under Construction</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning"><i class="fas fa-helmet-safety"></i></h2>
        
        <div class="error-content">
          <h3>Sorry! This Page is Under Construction.</h3>
          <p>
            This page is currently not available and will be coming soon.<br>
            You can try to check back later<% if (auth) { %>, <a href="/servers">choose a server</a>,<% } %> or <a href="/">return to home</a>.
          </p>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <%- include("../partials/footer") %>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

  <%- include("../partials/doc_end") %>
</body>
</html>
